.service-box {
  cursor: default;

  .ico-circle.service-emoji {
    font-size: 4rem;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  &:hover .ico-circle.service-emoji {
    background: $primary;
    box-shadow: 0 0 0 10px $primary;
  }
}

.hero {
  .overlay-itro {
    background-color: rgba(0, 0, 0, 0.35);
  }

  @media (max-width: 767px) {
    background-position: -260px 20px;
  }

  @media (min-width: 768px) and (max-width: 980px){
    background-position: -300px 50px;
  }

  .bg-image {
    background-position: inherit;
  }
}


.line-mf {
  width: 60px;
  border-radius: 5px;
}

.skill-mf .progress {
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  position: relative;

  .progress-bar {
    background: $primary;
    color: #000;
    font-weight: 500;
    height: 30px;

    span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 30px;
      color: #000 !important;
    }
  }
}

.counter-box {
  background: rgb(0 0 0 / 53%);
  padding: 20px;
  border-radius: 15px;

  .ico-circle {
    box-shadow: none;
    line-height: 60px;
    font-size: 3rem;
  }
}

.testimonial-box .author-img img {
  height: 150px;
  width: 150px;
}

textarea.form-control {
  min-height: 10vh;
  max-height: 50vh;
}

.md-hidden {
  display: block;
  width: 100%;
  @media (min-width: 767px) {
    display: none;
  }
}

.md-text-right {
  @media (min-width: 767px) {
    text-align: right !important;
  }
}

.work-experience .experience-item {
  margin-bottom: 15px;

  img {
    height: 86px;
    width: 86px;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
  }

  .work-info {
    padding-left: 10px;
  }

  .company-name {
    font-weight: bold;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
  }
}

.socials .ico-circle {
  line-height: 40px;
  color: $primary;
  opacity: .5;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0);
    opacity: 1;
    color: $primary;
    background-color: transparent;
    box-shadow: 0 0 0 3px $primary;
  }
}

.lead {
  font-weight: unset;
  line-height: 2rem;
  margin-bottom: 2rem;
}